<div class="container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employee">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
            </tr>
        </tbody>
    </table>
</div>